body{
	width: 320px;
	font-family: RobotoRegular;
}


.content{
	width: 280px;
	min-width: 280px;
	padding-left: 20px;
	padding-right: 20px;
}

.logo svg{
	width: 110px;
	margin-top: 15px;
}


.footer{
	position: relative;
	margin-top: 100px;
	height: inherit;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer_left{
	width: 100%;
}

.footer_center{
	width: 175px;
	margin-right: 0px;
}

.footer_right{
	width: 100%;
}