.index_center_block{
	display: block;
	position: relative;
	width: 100%;
}
.logo svg{
	margin-top: 15px;
}

body{
	overflow: auto !important;
}

h1{
	font-size: 24px !important; 
}

.index_image_background_table{
	width: 55%;
	left: -100px;
	top: 50px;
}

.circle{
	display: none;
}

.index_description{
	display: none;
}

.index_button{
	display: none;
}


.mobile_block_index{
	margin-top: 24px;
	width: 276px;
	border: 2px solid #FFF;
	background: #e4eef6;
	box-shadow: 0px 6px 16px 0px rgba(27,46,61,0.4);
	margin-bottom: 50px;
	display: block;
	opacity: 0;
	transition: 0.3s;

}

.mobile_block_index_title{
	line-height: 75px;
	height: 75px;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	font-size: 13px;
	font-family: RobotoBold;
	background: #214fa7;
	border-bottom: 2px solid #FFF;
	transition: 0.3s;
}

.mobile_block_index_description{
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}


.mobile_block_index_button{
	width: 250px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #214fa7;
	border-radius: 10px;
	font-size: 14px;
	margin: 0px auto 20px auto;
	color: #FFF;
	display: block;
	text-decoration: none;
}

.point_hero_title{
	font-size: 12px;
}

.point_hero_mobile{
	float: left;
	width: 210px;
	height: 350px;
	background: #e4eef6;
	border: 3px solid #FFF;
	box-shadow: 0px 14px 21px 0px rgba(8,31,50,0.16);
	transition: 0.3s;
	cursor: pointer;
	text-decoration: none;
	margin-bottom: 50px;
	margin-right: 20px;
	position: relative;
}

.list_hero{
	display: block;
	width: 5000px;
}

.choose_image{
	width: 320px;
	left: 0;
	height: 800px;
	overflow: hidden;
}

.choose_image img{
	position: absolute;
    height: 900px;
    left: 130px;
    top: 0;
}

.point_hero_mobile_hide{
	opacity: 0;
}

.point_hero_mobile_active{
	transform: scale(1.3) translateX(25px) translateY(20px);
	z-index: 10;
}
.point_hero_mobile_active .hero_hover_block{
	opacity: 1;
	display: block;
}

.point_hero_mobile_active .point_hero_title{
	background: #214fa7;
	color: #FFF;
}




.button_hero_hover_back{
	cursor: pointer;
	overflow: hidden;
}

.button_hero_hover_back_text{
	float: left;
	font-family: RobotoBold; 
	font-size: 14px;
	color: #214fa7;
	width: calc(100% - 53px);
	text-align: center;
	line-height: 24px;
}

.button_hero_hover_back_icon{
	float: left;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #FFF;
	margin-left: 10px;
	background-image: url(/img/choose_right.png);
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(180deg);

}


.button_select_hero_mobile{
	line-height: 40px;
	height: 40px;
	color: #FFF;
	border-radius: 10px;
	font-family: RobotoBold; 
	font-size: 14px;
	text-align: center;
	background: #214fa7;
	display: block;
	width: 190px;
	margin: 10px auto;
	text-decoration: none; 
}




.hero_hover_block{
	opacity: 1;
	display: none;
}



.content_choose{
	overflow: hidden;
	padding-bottom: 70px;
}


.list_hero{
	margin-bottom: 0;
}









