.test_content{
	width: 100% !important;
}

.block_test_number{
	width: 50px;
}

.block_test_info{
	width: 100%;
}

.ui-checkboxradio-icon{
	display: none;
} 
.ui-checkboxradio-label{
	font-size: 14px;
	width: calc(100% - 20px);
	padding-left: 10px;
	padding-right: 10px;
	padding: 10px;
	font-size: 12px;
}
.button_next_step{
	width: 100%;
}

.history_hero{
	font-size: 12px;
	margin-bottom: 20px;
}
.block_test_title{
	font-size: 14px;
	font-family: RobotoBold; 
	width: calc(100% - 50px);
	margin-top: 5px;
}
.block_test_info form{
	margin-left: 0;
}

.hero_name{
	margin-top: 0;
	font-size: 16px;
}

.index_image_background{
	top: 10px;
	width: 50%;
	left: -50px;
}


.button_start_test{
	position: fixed;
	bottom: 30px;
	left: 20px;
	line-height: 40px;
	height: 40px;
	color: #FFF;
	border-radius: 10px;
	font-family: RobotoBold; 
	font-size: 14px;
	text-align: center;
	background: #214fa7;
	display: block;
	width: calc(100% - 40px);
	text-decoration: none; 
}


.content_background_image_mobile{
	display: none;
}


.block_finish_company{
	top: 0;
	left: 0;
	position: relative;
}






.test_content_finish .content_background_image{
	display: none;
}
.test_content_finish .circle{
	display: none;
}
.test_content_finish .circle_2{
	display: block;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}
.test_content_finish .circle_2 > img{
	display: none;
}



.block_finish_company{
	width: 200px;
	height: inherit;
	margin: 15px auto;
	box-shadow: 0px 6px 16px 0px rgba(27,46,61,0.2);
}

.block_finish_company_logo{
	padding-left: 25px;
	padding-right: 25px;
	background: #e4eef6;
	margin-top: 3px;
	height: 170px;
}

.block_finish_company_logo img{
	max-height: calc(100% - 25px);
}


.description_finish{
	margin-top: 50px;
	font-size: 14px;
}

.button_detail_info{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.thanks_form{
	width: inherit;
}



.form_mobile{
	margin: 20px auto;
}



.form_mobile form input{
	width: 100%;
	height: 40px;
	border-radius: 10px;
	text-indent: 10px;
	font-size: 13px;
	background: #FFF;
	margin-top: 15px;
}


.form_mobile form button{
	margin-top: 15px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	width: 100%;
	background: #214fa7;
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	border-radius: 10px;
	outline: inherit;
	cursor: pointer;
	border: none;
	font-family: RobotoBold;
}



.button_open_form{
	display: none;
}



.button_next_step{
	height: 40px;
	line-height: 40px;
}




.content_registration{
	padding-left: 20px;
	padding-right: 20px;
}

.content_registration .logo{
	float: left;
}
.pop-up-registration{
	width: 100%;
}

.close_registration{
	top: 30px;
	right: 20px;
}
.close_registration svg{
	width: 15px;
	height: 15px;
}


.reg_left_title{
	margin-top: 30px;
	font-size: 24px;
}




.reg_left{
	width: 100%;
	float: none;
	
}

.reg_right{
	float: none;
	width: 100%;
	
}

.reg_left_title{
	margin-bottom: 0;
}

.date_info_registration{
	margin-top: 15px;
	font-size: 14px;
}



.description_reg{
	font-size: 14px;
	margin-bottom: 0;
}

.button_reg{
	margin-top: 60px;
}

.info_free{
	font-size: 14px;
	margin-bottom: 150px;
	margin-top: 5px;
}


.hero_info_icon{
	position: absolute;
	top: 30px;
	right: 20px;
	margin-top: 0;
}

.pop-up-info-hero{
	position: fixed;
	overflow: auto;
	width: calc(100% - 40px);
	padding: 20px;
	height: calc(100% - 40px);
	left: 0;
	top: 0;
	-webkit-overflow-scrolling: touch;
}


.button_how_work{
	margin-top: 0px;
	font-size: 14px;
	width: 100%;
	margin-left: 0;
	height: inherit;
	line-height: normal;
	margin-bottom: 10px;
}


.input_info{
	margin-top: 5px;
	font-size: 12px;
}

















