<div class="choose_image">
	
	<% if DeviceDetector.new(request.user_agent).device_type=='smartphone'  %>
		<img src="/img/choose_mobile.svg" alt="">
	<% else %>
		<img src="/img/choose.svg" alt="">
	<% end %>
</div>

<div class="content content_choose">
	<a href="/" class="logo">
		<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 938.34 286.52" style="enable-background:new 0 0 938.34 286.52;" xml:space="preserve">
		<style type="text/css">
			.st0{fill:#2C2D84;}
			.st1{fill:#EA5616;}
			.st2{fill:#FFFFFF;}
			.st3{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
		</style>
		<polygon class="st1" points="191.01,0 95.51,95.51 191.01,95.51 191.01,286.52 286.52,191.24 286.52,0 "/>
		<polygon class="st0" points="95.51,286.52 191.01,191.01 95.51,191.01 95.51,0 0,95.28 0,286.52 "/>
		<path class="st0" d="M382.02,238.77h50.14V90.73h76.4v148.04h50.14V47.75H382.02V238.77z M869.07,119.32h-42.84V90.73h95.39V47.75
			H776.1v191.01c0,0,71.52,0,95.36,0c38.23,0,66.88-19.17,66.88-59.72C938.34,138.42,909.69,119.32,869.07,119.32 M864.3,198.18
			h-38.06v-38.16h38.06c11.83,0,23.8,4.66,23.8,19.03C888.1,193.41,876.13,198.18,864.3,198.18 M681.43,198.06
			c-33.46,0-52.28-24.54-52.28-54.86c0-24.35,13.7-54.91,51.33-54.91c23.49,0,38.64,14.36,44.02,21.05l30.49-30.49
			c-18.4-21.95-46.01-35.93-76.89-35.93C622.71,42.91,579,83.91,579,143.2c0,55.39,43.7,100.28,99.09,100.28
			c33.16,0,62.54-16.1,80.8-40.9l-30.69-30.69C718.5,187.09,702.66,198.06,681.43,198.06"/>
		</svg>
	</a>

	<div class="clear"></div>


	<h1>
		Выбери героя
	</h1>

	<div class="list_hero">
		

		<% Hero.all.each do |hero|%>
			
			<% if DeviceDetector.new(request.user_agent).device_type=='smartphone'  %>
				<div class="point_hero_mobile">
			<% else %>
				<a href="/test/<%=hero.id%>/1" class="point_hero">
			<% end %> 

				<div class="hero_hover_block">
					<div class="hero_hover_block_icon">
						<img src="/img/background/<%=hero.id%>/m.svg" alt="">
					</div>

					<% if DeviceDetector.new(request.user_agent).device_type=='smartphone'  %>
						
						<a href="/test_mobile/<%=hero.id%>/1" class="button_select_hero_mobile">
							ВЫБРАТЬ
						</a>

						<div class="button_hero_hover_back">
							<div class="button_hero_hover_back_icon">
								
							</div>
							<div class="button_hero_hover_back_text">
								ДРУГОЙ ГЕРОЙ
							</div>
							
						</div>
					<% else %>
						<div class="button_hero_hover_next">
							<div class="button_hero_hover_next_text">
								ВЫБРАТЬ
							</div>
							<div class="button_hero_hover_next_icon">
								
							</div>
						</div>
					<% end %> 

					
				</div>
			
				<div class="point_hero_title">
					<%=raw hero.company_name%>
				</div>
				<div class="point_hero_avatar">
					<img src="/img/hero/<%=hero.id%>.png" alt="">
				</div>
				<div class="point_hero_name">
					<span><%=hero.name%></span>
					<%=raw hero.post%>
				</div>
			<% if DeviceDetector.new(request.user_agent).device_type=='smartphone'  %>
				</div>
			<% else %>
				</a>
			<% end %>
		<% end %>


	</div>



</div>