<div class="pop-up-info-hero">
	<div class="close_info">
		<svg viewBox="0 0 24.63 24.63"><defs><style>.cls-1,.cls-3{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{stroke:#2842a2;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px;}</style><clipPath id="clip-path"><rect class="cls-1" width="24.63" height="24.63"/></clipPath></defs><title>Векторный смарт-объект</title><g class="cls-2"><line class="cls-3" x1="1.5" y1="1.5" x2="23.13" y2="23.13"/><line class="cls-3" x1="23.13" y1="1.5" x2="1.5" y2="23.13"/></g></svg>
	</div>

	<b>
		<%=@hero.name%>
	</b>
	<br>
	<% if @hero.site.present?%>
		<a href="<%=@hero.site%>" target="_blank">
			 <%=@hero.site.gsub("http://","")%>
		</a>
	<% end %>
	<p>
		<%=@hero.description%>
	</p>
</div>

<div class="pop-up-registration">
	<div class="content_registration">

		<div class="close_registration">
			<svg viewBox="0 0 24.63 24.63"><defs><style>.cls-1,.cls-3{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{stroke:#2842a2;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px;}</style><clipPath id="clip-path"><rect class="cls-1" width="24.63" height="24.63"/></clipPath></defs><title>Векторный смарт-объект</title><g class="cls-2"><line class="cls-3" x1="1.5" y1="1.5" x2="23.13" y2="23.13"/><line class="cls-3" x1="23.13" y1="1.5" x2="1.5" y2="23.13"/></g></svg>
		</div>
		<a href="/" class="logo">
				
		<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 938.34 286.52" style="enable-background:new 0 0 938.34 286.52;" xml:space="preserve">
		<style type="text/css">
			.st0{fill:#2C2D84;}
			.st1{fill:#EA5616;}
			.st2{fill:#FFFFFF;}
			.st3{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
		</style>
		<polygon class="st1" points="191.01,0 95.51,95.51 191.01,95.51 191.01,286.52 286.52,191.24 286.52,0 "/>
		<polygon class="st0" points="95.51,286.52 191.01,191.01 95.51,191.01 95.51,0 0,95.28 0,286.52 "/>
		<path class="st0" d="M382.02,238.77h50.14V90.73h76.4v148.04h50.14V47.75H382.02V238.77z M869.07,119.32h-42.84V90.73h95.39V47.75
			H776.1v191.01c0,0,71.52,0,95.36,0c38.23,0,66.88-19.17,66.88-59.72C938.34,138.42,909.69,119.32,869.07,119.32 M864.3,198.18
			h-38.06v-38.16h38.06c11.83,0,23.8,4.66,23.8,19.03C888.1,193.41,876.13,198.18,864.3,198.18 M681.43,198.06
			c-33.46,0-52.28-24.54-52.28-54.86c0-24.35,13.7-54.91,51.33-54.91c23.49,0,38.64,14.36,44.02,21.05l30.49-30.49
			c-18.4-21.95-46.01-35.93-76.89-35.93C622.71,42.91,579,83.91,579,143.2c0,55.39,43.7,100.28,99.09,100.28
			c33.16,0,62.54-16.1,80.8-40.9l-30.69-30.69C718.5,187.09,702.66,198.06,681.43,198.06"/>
		</svg>
	</a>

		<div class="clear"></div>

		<div class="reg_left">
			<div class="reg_left_title">
				Как работать 
				с госзаказом
			</div>
			
				
		</div>
		<div class="reg_right">
			<div class="date_info_registration">
				6 / 03 / 2019 <br><br>
				Конгресс-парк Radisson <br>
				Collection Hotel Moscow

			</div>
			
		</div>
		<div class="clear"></div>
		<div class="reg_left">
			<div class="description_reg">
				<p>
					6 марта в Москве состоится всероссийский форум «Территория бизнеса — территория жизни» и финал национальной премии «Бизнес-Успех». Мы приглашаем вас принять участие в мероприятии*. 
				</p>
				<p>
					На этом мероприятии Промсвязьбанк презентует обновленную выставку «Бизнес в объективе», а это действительно будет захватывающе и интересно.
				</p>
			</div>
				
		</div>
		<div class="reg_right">
			<a href="http://bsaward.ru/2019/final/#req_reg" target="_blank" class="button_reg">
				РЕГИСТРАЦИЯ
			</a>

			<div class="info_free">
				* мероприятие бесплатное
			</div>
			
		</div>

	</div>
</div>	

<div class="content_background_image content_background_image_mobile">
	
	<div class="index_image_background_table">
		<div class="index_image_background_center">
			<img class="index_image_background" src="/img/background/<%=@hero.id%>/<%=@test.position%>.svg" alt="">
		</div>
	</div>
	

	<% 1.upto(5).each do |i|%>
		<img  style="opacity: 0; pointer-events: none;" src="/img/background/<%=@hero.id%>/<%=i%>.svg" alt="">
	<% end %>
	
</div>

<div class="content">
	<a href="/" class="logo">
			
		<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 938.34 286.52" style="enable-background:new 0 0 938.34 286.52;" xml:space="preserve">
		<style type="text/css">
			.st0{fill:#2C2D84;}
			.st1{fill:#EA5616;}
			.st2{fill:#FFFFFF;}
			.st3{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
		</style>
		<polygon class="st1" points="191.01,0 95.51,95.51 191.01,95.51 191.01,286.52 286.52,191.24 286.52,0 "/>
		<polygon class="st0" points="95.51,286.52 191.01,191.01 95.51,191.01 95.51,0 0,95.28 0,286.52 "/>
		<path class="st0" d="M382.02,238.77h50.14V90.73h76.4v148.04h50.14V47.75H382.02V238.77z M869.07,119.32h-42.84V90.73h95.39V47.75
			H776.1v191.01c0,0,71.52,0,95.36,0c38.23,0,66.88-19.17,66.88-59.72C938.34,138.42,909.69,119.32,869.07,119.32 M864.3,198.18
			h-38.06v-38.16h38.06c11.83,0,23.8,4.66,23.8,19.03C888.1,193.41,876.13,198.18,864.3,198.18 M681.43,198.06
			c-33.46,0-52.28-24.54-52.28-54.86c0-24.35,13.7-54.91,51.33-54.91c23.49,0,38.64,14.36,44.02,21.05l30.49-30.49
			c-18.4-21.95-46.01-35.93-76.89-35.93C622.71,42.91,579,83.91,579,143.2c0,55.39,43.7,100.28,99.09,100.28
			c33.16,0,62.54-16.1,80.8-40.9l-30.69-30.69C718.5,187.09,702.66,198.06,681.43,198.06"/>
		</svg>
	</a>
	
	<div class="clear"></div>

	<div class="test_content">
		
		<h1 class="hero_name">
			<%=@hero.name%>
		</h1>
		<div class="hero_info_icon">
			
		</div>

		<div class="clear"></div>

		<%
		show_history=true

		if DeviceDetector.new(request.user_agent).device_type=='smartphone' and params[:count_test].to_i>1
			show_history=false
		end

		if show_history==true
			%>
			<div class="history_hero">
				<%=raw @hero.history%>
			</div>
		<% end %>


		<div class="block_test">
			
			<div class="block_test_info">
				<div class="block_test_number">
					<span style="font-size: 30px;"><%=params[:count_test]%></span>
					<span style="margin-top: 5px;">/5</span>
				</div>
				<div class="block_test_title">
					<%=@test.name%>
				</div>
				<div class="clear"></div>
				<form action="/check_test" method="post">

					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

					<input type="hidden" name="test_position" value="<%=@test.position%>">
				
					<% @test.hero_test_value.each do |value|%>
						<input type="radio" name="test" id="answer_<%=value.id%>" value="<%=value.id%>">
						<label for="answer_<%=value.id%>"><%=value.name%></label>
					<% end %>

					<button class="button_next_step">
						дальше
					</button>

				</form>
				<div class="clear"></div>

			</div>
		</div>
	</div>
</div>