


<img src="http://go2gos.ru/img/share/<%=@company.id%>.png" alt="Мой клиент - <%=@company.name%>, а твой?">

<style>
	img{
		width: 100%;
		max-width: 700px;
		margin: 100px auto;
		display: block;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
	}
</style>