
<p>
Спасибо за прохождение теста!<Br>
По коду <b><%=@code%></b> на сайте <a href="https://www.litres.ru/">litres.ru</a> ты можешь скачать обещанную книгу.
</p>


<b>Как пользоваться кодом?</b>
<ol>
	<li>
		Зайди на сайт litres.ru
	</li>
	<li>
		Зарегистрируйся, если у тебя еще нет аккаунта
	</li>
	<li>
		Выбери раздел "Промокод"  
	</li>
	<li>
		Впиши код
	</li>
	<li>
		Нажми кнопку «Активировать»
	</li>
	<li>
		Книга будет добавлена в твой личный кабинет 

	</li>
	<li>
		Теперь ты можешь скачать книгу в разделе «Мои книги» 
	</li>
	<li>
		Если у тебя возникают дополнительные вопросы по чтению книг, пожалуйста, обратись к специалистам технической поддержки:

		<ul>
			<li>
				Задай вопрос через Форму чата
			</li>
			<li>
				Отправь нам сообщение: help@litres.ru
			</li>
		</ul>
	</li>
</ol>

<p>

Служба поддержки пользователей ЛитРес работает ежедневно с 10:00 до 22:00 по мск.  <br>
 
По срочным вопросам можно обратиться по телефону: 8 800 333 27 37. <br>
</p>
<p>
До новых встреч!
</p>