/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require plugin/owl.carousel.css
 *= require plugin/owl.theme.default.css

 */




@font-face {
   font-family: Roboto-Hairline; /* имя шрифта для CSS правил */
   src: local("Roboto-Hairline"), /* проверяем наличие шрифта в ОС пользователя */
        url(/fonts/Roboto-Hairline.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
   font-family: RobotoLight; /* имя шрифта для CSS правил */
   src: local("RobotoLight"), /* проверяем наличие шрифта в ОС пользователя */
        url(/fonts/RobotoLight.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
   font-family: RobotoRegular; /* имя шрифта для CSS правил */
   src: local("RobotoRegular"), /* проверяем наличие шрифта в ОС пользователя */
        url(/fonts/RobotoRegular.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
   font-family: RobotoBold; /* имя шрифта для CSS правил */
   src: local("RobotoBold"), /* проверяем наличие шрифта в ОС пользователя */
        url(/fonts/RobotoBold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

body{
  margin: 0;
  font-family: RobotoLight;
  font-smoothing: antialiased;
  background: #e4eef6;
  overflow-x: hidden;
  color: #303436;
}

input{
  font-family: RobotoRegular;
  margin: 0;
  padding: 0;
  outline: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0px;
}

a,img{
  border: none;
  color: #303436;
}
b,strong,h1{
  font-family: RobotoBold;
  font-weight: normal;
}
hr{
  border-color: #fefefe;
}

.clear{
  clear: both;
}
.content{
	max-width: 1200px;
	min-width: 960px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0px auto;
  position: relative;
  z-index: 10;
}

.logo{
  width: 200px;
  display: block;
	position: relative;
	z-index: 100;
  float: left;
}
.logo svg{
	width: 150px;
	margin-top: 35px;
}











.footer{
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  z-index: 10;
}

.footer_right{
  float: right;
  font-size: 12px;
  color: #7b8f9b;
  margin-top: 10px;
}

.footer_left{
  float: left;
  font-size: 12px;
  color: #7b8f9b;
  margin-top: 10px;
}
.footer_left a{
  color: #7b8f9b;
  text-decoration: none;
}



.footer_center{
  float: left;
  width: calc(100% - 600px);
}
.footer_center a{
  margin-top: 15px;
  float: right;
  margin-right: 15px;
}
.footer_center a img{
  width: 20px;
  height: 20px;
}
















