

.index_center_block{
	position: fixed;
	width: 50%;
	top: 0;
	height: 100%;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.h1_index{
	font-size: 48px;
	margin: 0;
}

.index_description{
	margin-top: 40px;
	margin-bottom: 50px;
	font-size: 20px;
}

.index_button{
	background: #214fa7;
	width: 200px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	font-family: RobotoBold;
	font-size: 16px;
	border-radius: 10px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	text-decoration: none;
}





.circle{
  position: fixed;
  height: 130%;
  left: 50%;
  top: -15%;
  width: 100%;
  z-index: 0;
}

.circle .image_circle{
  height: 100%;
  position: relative;
  z-index: 0;
}






.content_background_image{
	min-width: 930px;
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
}


.index_image_background_table{
	width: calc(50% + 100px);
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	display: table;
}
.index_image_background_center{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.index_image_background{
	width: 100%;
}



.choose_image{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.choose_image img{
	height: 900px;
}

.list_hero{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 930px;
	margin: 50px auto 100px auto;
}

.point_hero{
	display: block;
	width: 280px;
	background: #e4eef6;
	border: 3px solid #FFF;
	box-shadow: 0px 14px 21px 0px rgba(8,31,50,0.16);
	transition: 0.6s;
	cursor: pointer;
	text-decoration: none;
	margin-bottom: 50px;
	position: relative;
	height: 400px;
}



.point_hero_title{
	font-size: 16px;
	font-family: RobotoBold;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 3px solid #FFF;
	text-transform: uppercase;
	background: #ff9b57;
	transition: 0.6s;
}

.point_hero_avatar{
	margin: 15px auto;
	text-align: center;
}

.point_hero_name{
	margin-bottom: 30px;
	text-align: center;
	font-size: 14px;
}
.point_hero_name a{
	color: #214fa7;
}
.point_hero_name span{
	font-size: 16px;
	font-family: RobotoBold;
	display: block;
	margin-bottom: 5px;

}


.point_hero:hover{
	box-shadow: 0px 27px 21px 0px rgba(8,31,50,0.06);
	transform: translateY(-30px);
}


.point_hero:hover .point_hero_title{
	background: #214fa7;
	color: #FFF;
}



.mobile_block_index{
	display: none;
}


.hero_hover_block{
	position: absolute;
	width: 100%;
	height: calc(100% - 77px);
	bottom: 0;
	left: 0;
	z-index: 1;
	background: #e4eef6;
	opacity: 0;
	transition: 0.3s;
}

.point_hero:hover .hero_hover_block{
	opacity: 1;
}

.hero_hover_block_icon{
	width: calc(100% - 50px);
	margin: 0px auto;
}
.hero_hover_block_icon img{
	width: 100%;
}



.button_hero_hover_next{
	cursor: pointer;
	width: 110px;
	margin: 0px auto;
}


.button_hero_hover_next_text{
	float: left;
	font-family: RobotoRegular; 
	font-size: 16px;
}
.button_hero_hover_next_icon{
	float: left;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #FFF;
	margin-left: 10px;
	background-image: url(/img/choose_right.png);
	background-repeat: no-repeat;
	background-position: center;
	

}

.owl-stage{
	display: flex;
}
.owl-item{
	float: left;
}

.owl-nav{
	position: absolute;
	right: 0;
}
.owl-nav.disabled{
	display: none;
}

.owl-nav button{
	background-color: transparent;
	border: none;
	width: 8px;
	height: 14px;
	position: absolute;
	outline: inherit;

	cursor: pointer;
	background-repeat: no-repeat;
}
.owl-nav button span{
	display: none;
}

.owl-prev{
	right: 50px;
	bottom: 0px;
	background-image: url(/img/left.png);
}
.owl-next{
	right: 20px;
	bottom: 0px;
	background-image: url(/img/right.png);
}








