
.content_background_image{
	min-width: 930px;
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	height: 100%;
	top: 0;
	
	z-index: 1;
}

.index_image_background_table{
	width: calc(50% - 100px);
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	display: table;
}
.index_image_background_center{
	display: table-cell;
	vertical-align: middle;
}


.index_image_background{
	width: 100%;
}

.circle{
  position: fixed;
  height: 130%;
  left: calc(50% + 100px);
  top: -15%;
  width: 100%;
  z-index: 0;
}

.circle .image_circle{
  height: 100%;
  position: relative;
  z-index: 0;
}




.circle_2{
	z-index: 2;
	
}
.circle_2 .image_circle{
	opacity: 0.7;
}




.test_content{
	width: calc(50% + 80px);
	margin-bottom: 150px;
}

.hero_name{
	float: left;
	font-size: 22px;
	margin-top: 20px;
}

.hero_info_icon{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	float: left;
	background: #FFF;
	margin-top: 28px;
	margin-left: 10px;
	background-image: url(/img/i.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.history_hero{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.block_test{
	overflow:hidden;
}

.block_test_number{
	float: left;
	width: 100px;
	text-align: center;
	font-size: 14px;
	font-family: RobotoBold;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.block_test_number span{
	display: block;
}

.block_test_info{
	width: 100%;

}

.block_test_title{
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 30px;
	font-family: RobotoBold;
	float: right;
	width: calc(100% - 100px);
}

.block_test_info form{
	margin-left: 100px;
}



.button_next_step{
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 400px;
	background: #214fa7;
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	border-radius: 10px;
	display: none;
	outline: inherit;
	cursor: pointer;
	border: none;
}




.ui-helper-hidden-accessible{
	display: none;
}

.ui-checkboxradio-label{
	width: 350px;
	border-radius: 10px;
	background: #FFF;
	margin-bottom: 10px;
	display: block;
	transition: 0.3s;
	cursor: pointer;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 35px;
	position: relative;
	padding-right: 15px;
}
.ui-checkboxradio-icon{
	position: absolute;
	left: 15px;
	top: 20px;
	width: 10px;
	height: 10px;
	background: #e4eef6;
	border-radius: 50%;
	transition: 0.3s;
}
.ui-checkboxradio-label:hover .ui-checkboxradio-icon{
	background: #5999c7;
}

.ui-state-active{
	background: #5999c7;
	cursor: default;
	color: #FFF;
}
.ui-state-active .ui-checkboxradio-icon{
	background: #FFF !important;
}

.block_finish_company{
	width: 300px;
	height: 330px;
	background: #FFF;
	border: 3px solid #FFF;
	left: -150px;
	top: calc(50% - 155px);
	position: absolute;
	z-index: 10;
}

.block_finish_company_title{
	height: 80px;
	background: #ff9b57;
	line-height: 80px;
	font-family: RobotoBold;
	text-align: center;
	text-transform: uppercase;
}

.button_repeat{
	position: absolute;
	left: 0;
	top: calc(100% + 20px);
	cursor: pointer;
	text-transform: uppercase;
	color: #214fa7;
	font-family: RobotoLight;
	
}
.button_repeat text{
	float: left;
}

.button_repeat icon{
	margin-top: -2px;
	margin-left: 10px;
	float: left;
	width: 25px;
	height: 25px;
	background: #FFF;
	border-radius: 50%;
	background-image: url(/img/repeat.png);
	background-position: 6px;
	background-repeat: no-repeat;
}



.block_finish_company_logo img{
	width: 100%;
	max-height: calc(100% - 50px);
}
.block_finish_company_logo{
	width: calc(100% - 50px);
	margin: 0px auto;
	height: 253px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button_detail_info{
	display: block;
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 200px;
	background: #214fa7;
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	border-radius: 10px;
	outline: inherit;
	cursor: pointer;
	border: none;
	font-family: RobotoBold;
}



.block_social_form{
	overflow: hidden;
}
.point_social{
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	background: #FFF;
	border-radius: 50%;
}
.point_social svg{
	display: block;
	width: 25px;
	height: 25px;
	margin: 12.5px;
	fill: #214fa7;
}


.description_finish{
	position: relative;
	z-index: 10;
}

.button_open_form{
	line-height: 50px;
	color: #214fa7;
	text-transform: uppercase;
	cursor: pointer;
}

.button_open_form_text{
	float: left;
}

.button_open_form_icon{
	float: left;
	width: 25px;
	height: 25px;
	margin-left: 10px;
	margin-top: 12.5px;
	border-radius: 50%;
	background: #FFF;
	background-image: url(/img/@.png);
	background-position: center;
	background-repeat: no-repeat;

}



.pop_up_form{
	position: fixed;
	width: 700px;
	height: 340px;
	background: #FFF;
	box-shadow: 0px 18px 27px 0px rgba(8,31,50,0.3);
	left: calc(50% - 350px);
	top: calc(50% - 170px);
	z-index: 100;
	display: none;
}




.pop_up_form_close{
	float: right;
	width: 25px;
	height: 25px;
	margin: 20px;
}
.pop_up_form_close svg{
	width: 25px;
	height: 25px;
	cursor: pointer;
}



.pop_up_form form{
	width: 500px;
	margin: 0px auto 60px auto;
}

.pop_up_form form input{
	width: 100%;
	height: 50px;
	border-radius: 10px;
	text-indent: 15px;
	font-size: 16px;
	background: #e4eef6;
	margin-top: 20px;
}


.pop_up_form form button{
	margin-top: 20px;
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 200px;
	background: #214fa7;
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	border-radius: 10px;
	outline: inherit;
	cursor: pointer;
	border: none;
	font-family: RobotoBold;
}

.thanks_form{
	display: none;
	width: 500px;
	margin: 0px auto 60px auto;
}
.thanks_form a{
	color: #1e4ca6;
	text-decoration: none;
}


.pop-up-registration{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 960px;
	box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.3);
	background: #FFF;
	z-index: 10000;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
}


.content_registration{
	padding-left: 80px;
	padding-right: 80px;
}



.reg_left{
	width: 400px;
	float: left;
	
}

.reg_right{
	float: right;
	width: 300px;
	
}



.close_registration{
	position: absolute;
	right: 40px;
	cursor: pointer;
	top: 40px;
}
.close_registration svg{
	width: 25px;
	height: 25px;
}

.reg_left_title{
	font-family: RobotoBold;
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: 120px;
}
.date_info_registration{
	font-family: RobotoBold;
	font-size: 20px;
	margin-top: 120px;
}

.button_reg{
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 100%;
	display: block;
	background: #214fa7;
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	border-radius: 10px;
	outline: inherit;
	cursor: pointer;
	border: none;
	font-family: RobotoBold;
	margin-top: 190px;
}

.description_reg{
	font-size: 18px;
	margin-bottom: 200px;
}


.pop-up-info-hero{
	position: absolute;
	width: 650px;
	background: #FFF;
	padding: 30px;
	box-shadow: 0px 18px 30px 0px rgba(8,31,50,0.3);
	left: calc(50% - 325px);
	top: 200px;
	display: none;
	z-index: 100;
}


.pop-up-info-hero p{
	margin-top: 30px;
}
.pop-up-info-hero a{
	color: #5999c7;
	text-decoration: none;
	margin-top: 10px;
	display: block;
}




.close_info{
	position: absolute;
	right: 10px;
	cursor: pointer;
	top: 10px;
}
.close_info svg{
	width: 20px;
	height: 20px;
}




.button_how_work{
	float: left;
	margin-top: 35px;
	line-height: 50px;
	color: #004eab;
	margin-left: 100px;
	cursor: pointer;
	position: relative;
	z-index: 100000;
}

.input_info{
	margin-top: 10px;
	font-size: 14px;
	color: #aaa;
}































