<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if params[:action]=='share'%>
        Мой клиент - <%=@company.name%>, а твой?
      <% else %>
        Доберись до госзаказа
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag params[:controller] %>


    <% if DeviceDetector.new(request.user_agent).device_type=='smartphone' or DeviceDetector.new(request.user_agent).device_type=='phablet'%>
      <%= stylesheet_link_tag 'mobile/application' %>
      <%= stylesheet_link_tag "mobile/#{params[:controller]}" %>
      <meta name="viewport" content="width=320px; user-scalable=no">
    <% else %>
      <meta name="viewport" content="width=960px, initial-scale=1; minimum-scale=1">
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if params[:action]=='share'%>
      <meta property="og:title" content="Мой клиент - <%=@company.name%>, а твой?"/>
      <meta property="og:description" content="Пройти тест за реального предпринимателя и узнай, с кем ты сможешь работать!"/>
      <meta property="og:image" content="http://go2gos.ru/img/share/<%=@company.id%>.png"/>
      <meta property="og:url" content= "http://go2gos.ru" />
      <meta property="og:type" content="website"/>
      <meta property="og:site_name" content="Go2Gos"/>
    <% end %>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta name="yandex-verification" content="727b4a4eed13591a" />

  </head>

  <body>
    <%= yield %>

    <div class="footer">
      <div class="content">
        <div class="footer_left">
          <a href="/rules.pdf">Условия акции</a>
        </div>
        <div class="footer_center">
          <a href="https://www.youtube.com/user/Promsvyazbank" target="_blank">
            <img src="/img/social/yt.svg" alt="">
          </a>
          <a href="http://twitter.com/psbank_ru" target="_blank">
            <img src="/img/social/tw.svg" alt="">
          </a>
          <a href="https://www.facebook.com/psbank" target="_blank">
            <img src="/img/social/fb.svg" alt="">
          </a>
          <a href="http://instagram.com/promsvyazbank" target="_blank">
            <img src="/img/social/inst.svg" alt="">
          </a>

          <a href="https://vk.com/psbank_ru" target="_blank">
            <img src="/img/social/vk.svg" alt="">

          </a>


        </div>
        <div class="footer_right">
          © 2001 – 2019 ПAO «Промсвязьбанк»<br>
          Генеральная лицензия на осуществление банковских операций № 3251 от 17 декабря 2014
        </div>
      </div>
    </div>

    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(52782910, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/52782910" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  </body>
</html>
